#navbar{
    text-align: right;
}
#navbar{
    display: inline-block;
    float: right;
}
#navbar ul li {
    margin:10px;
    display: flex;
    align-items: center;
    height: 70px;
}
.dropdown {
    position: relative;
    display: inline-block;
}

body {
    background-color: rgb(44, 44, 43);
    padding: 20px;
    margin: 0;
  }
  h1, h2, p, ul, li {
    font-family: sans-serif;
    color:#111; 
  }
  ul.header li {
    
    display: inline;
    list-style-type: none;
    margin: 0;
    
  }
  ul.header {
    
    background-color: #111;
    padding: 0;
    width:100%
  }
  ul.header li a {
    color: #FFF;
    font-weight: bold;
    text-decoration: none;
    padding: 20px;
    display: inline-block;
  }
  .content {
    background-color: #FFF;
    padding: 20px;
  }
  .content h2 {
    padding: 0;
    margin: 0;
  }
  .content li {
    margin-bottom: 10px;
  }

  .menu {
    display: block;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .menu a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .menu a:hover {background-color: #f1f1f1}
  
  .menu:hover .menu {
    display: block;
  }

  .greenButton{
    background-color: #52d864;
    color: black;
    font-weight: bold;
    font-size: 1em;
    font:sans-serif;
  }
  
  .redButton{
    background-color: rgb(207, 34, 34);
    color: white;
    font-weight: bold;
    font:sans-serif;
    font-size: 1em;
  }

  .eventLis{
    border-radius: 10px;
    border: 1px solid #000;
    padding: 5px;
    text-align:center;
    width:100%

  }

  .lisTxt_lead{
    font-weight:bold;
    font-size:2vw;

  }

  .lisTxt_content{
    font-size:2vw;
  }

  .eventHeader{ 
    color: #38c9ff;
    font-weight: bold; 
    display: inline-block;
    width: 80%

  }
  .eventViewMapStyling{ 
   
    width: 40vw; 
    height: 40vh;
    border-radius: 20px;
    border:2px solid #000;
    margin: 10px;
    text-align: left;
    
  }

  .myEventsMapStyling{ 
    
    width: 70vh;
    height: 70vh;
    border-radius: 20px;
    border:2px solid #000;
    margin: 0 auto;
    float: right;
    margin-right: 20px;
    
  }

  .tabsFlexContainer {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    width:100%;
    
  }

  .ulEventData{
    width:800px;
    list-style-type:none ;
    padding:0;

  }

  .nav-item nav-link{
    width: 80vh;
  }
 
  .eventLinkContainer {
    flex-direction: row;
    justify-content: space-evenly;
    border-width: 3px;
    border-style: solid;
    border-color:black;
    border-radius: 4px;
    text-align: center;
    width: 100%;
    padding-top:5px;    
 }

 .eventText {
   display:inline-block;
    font-size: 12;
    color: 'black';
    line-height: 2;
    text-align: center;
    padding-top: 15;
    /* max-width: 20px; */
 }

 input.event_input{
  margin-bottom: 5px;
  height: 25px;
  border: 1px solid #d8d8d8;
  padding: 3px;
  border-radius: 3px;
}

.error{
  margin-left: 5px;
  font-size: 10px;
  color: red;
  height: 10px;
}

button.btnpro{
  padding: 10px;
  border: 1px solid #d8d8d8;
  background-color: #f9f9f9;
  border-radius: 3px;
  height:35px;
  width:180px;
  display: table-cell;
  vertical-align: middle;
  line-height: 100%
  
}

input.chkbox{
  margin-left:4px
}

ul.list-group{
  list-style-type:none;
  text-align: center;
  width: 150vh;
  margin: auto;
}

.eventDescription{
  width: 30vw; 
  height: 40vh;
  text-align:center;
  margin:auto;
  margin-top: 4vh;  
  border-width: 3px;
  border-radius: 6px;
  border-color: black;
}

.categoryDropdown{
  width: 40vw;
  border-radius: 4px; 
  text-align: center
}