
.dropdown {
    position: relative;
    display: inline-block;
}

body {
    background-color: rgb(44, 44, 43);
    padding: 20px;
    margin: 0;
  }
  h1, h2, p, ul, li {
    font-family: sans-serif;
    color:#111; 
  }
  ul.header li {
    
    display: inline;
    list-style-type: none;
    margin: 0;
    
  }
  ul.header {
    
    background-color: #111;
    padding: 0;
    width:100%
  }
  ul.header li a {
    color: #FFF;
    font-weight: bold;
    text-decoration: none;
    padding: 20px;
    display: inline-block;
  }
  .content {
    background-color: #FFF;
    padding: 20px;
    min-height: 700px;
    display: flex;
    justify-content: center;
    width: 100%
  }
  
  .content h2 {
    padding: 0;
    margin: 0;
  }
  .content li {
    margin-bottom: 10px;
  }

  .menu {
    display: block;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .menu a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .menu a:hover {background-color: #f1f1f1}
  
  .menu:hover .menu {
    display: block;
  }

  .greenButton{
    background-color: #52d864;
    color: black;
    font-weight: bold;
    font-size: 1em;
    font:sans-serif;
  }
  
  .redButton{
    background-color: rgb(207, 34, 34);
    color: white;
    font-weight: bold;
    font:sans-serif;
    font-size: 1em;
  }

  .eventLis{
    border-radius: 10px;
    border: 1px solid #000;
    padding: 5px;
    text-align:center;
    width:100%

  }

  .lisTxt_lead{
    font-weight:bold;
    font-size:2vw;

  }

  .lisTxt_content{
    font-size:2vw;
  }

  .eventHeader{ 
    color: #38c9ff;
    font-weight: bold; 
    display: inline-block;
    width: 80%

  }
  .eventViewMapStyling{ 
   
    width: 40vw; 
    height: 40vh;
    border-radius: 20px;
    border:2px solid #000;
    margin: 10px;
    text-align: left;
  }

  .eventViewMapStylingCont{
    display: flex;
  }

  .eventViewMainDiv{
    text-align: center
  }

  .eventViewStrong{
    font-size: large
  }

  .createEventViewMapStyling{ 
   
    width: 40vw; 
    height: 90vh;
    border-radius: 20px;
    border:2px solid #000;
    margin: 10px;
    text-align: left;
    margin-right:20px;    
  }

  .myEventsMapStyling{ 
    
    width: 70vh;
    height: 70vh;
    border-radius: 20px;
    border:2px solid #000;
    margin: 0 auto;
    float: right;
    margin-right: 20px;
    
  }

  .tabsFlexContainer {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    width:100%;
    
  }

  .ulEventData{
    width:800px;
    list-style-type:none ;
    padding:0;

  }

  .uleventdatali{
    padding:5px;
    height:60px;
    margin-bottom: 5px;
    text-align: center
  }

  .nav-item nav-link{
    width: 80vh;
  }
 
  .eventLinkContainer {
    flex-direction: row;
    justify-content: space-evenly;
    border-width: 3px;
    border-style: solid;
    border-color:black;
    border-radius: 4px;
    text-align: center;
    width: 100%;
    padding-top:5px;    
 }

 .eventText {
   display:inline-block;
    font-size: 12;
    color: 'black';
    line-height: 2;
    text-align: center;
    padding-top: 15;
    /* max-width: 20px; */
 }

 input.event_input{
  margin-bottom: 10px;
  height: 25px;
  border: 1px solid #d8d8d8;
  padding: 3px;
  border-radius: 3px;
  margin-top: 10px;
  width: 37vw;
  text-align: center
}
input.user_input{
  margin-bottom: 10px;
  height: 25px;
  border: 1px solid #d8d8d8;
  padding: 3px;
  border-radius: 3px;
  margin-top: 10px;
  width: 27vw;
  text-align: center
}
.error{
  margin-left: 5px;
  font-size: 20px;
  color: red;
  height: 10px;
}

button.btnpro{
  padding: 10px;
  border: 1px solid #d8d8d8;
  background-color: #f9f9f9;
  border-radius: 3px;
  height:35px;
  width:180px;
  display: table-cell;
  vertical-align: middle;
  line-height: 100%
  
}

input.chkbox{
  margin-left:4px
}

ulhp.list-group{
  list-style-type:none;
  text-align: center;
  width: 150vh;
  margin: auto;
}

ulme.list-group{
  list-style-type:none;
  text-align: center;
  width: 80vh;
  margin: auto;
}

.eventDescription{
  width: 30vw; 
  height: 40vh;
  text-align:center;
  margin:auto;
  margin-top: 4vh;  
  border-width: 3px;
  border-radius: 6px;
  border-color: black;
}

.categoryDropdown{
  width: 27vw;
  border-radius: 4px; 
  text-align: center;
  margin-right: 10px;
  margin-bottom: 8px;
}

.event_input_small{
  margin-top: 5px;
  width: 9vw;
  margin-right: 10px;  
  margin-bottom: 5px;
}

.event_input_smaller{
  margin-top: 5px;
  width: 8vw  ;
  margin-right: 10px;
  margin-bottom: 5px;
}

.event_input_smallerNums{
  margin-top: 5px;
  width: 6vw  ;
  margin-right: 10px;
  margin-bottom: 5px;
}

.createEventFormContainer{
  display: flex;
  width: 100%;
}

.createEventMapContainer{
  height:100%;
  width:50%;
  padding-left: 20px
}

.eventform{
  width: 50%;
}

.eventFormInputContainer{
  width: 100%
}

.createEventFieldset{
  width:100%;
  margin: 5px;
}

.eventInputDateTimeContainer{
  display: flex;
  flex-direction: row;
}

.timeFormContainer{
  display: flex;
  flex-direction: column;
}

.spotsFormContainer{
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  
}

.eventDescription{
   padding-left: 0; 
   border-radius: 3px;
    width: 80%;
}

.btnpro{
  border: #000 solid;
  margin-top:5px;
}

.noEventContatiner{  
  align-self:center;
  align-items: center;
  justify-content: center;
  margin-top: 300px;
}

.noEventMsg{ 
  font-size: 40px;
  color: gray;
}

.navPillContainer{
  width: 80%;
  
}

.nav.nav-pills{
  width:80%;
  
}

.homePageBanner{
  text-align:center;
  margin: 0 auto;
  
}

.homePageBannerMsg{
  text-align: center;
}

.checkBxLbl{
  padding: 10px;
  margin-right: 4px;
}

.headerLogo{
  height: 80px;
  width: 80px;
}

.navBarMenuBtnContainer{
  float: right;
  padding: 10px;
}

.navBarMenuBtn{
  color: white
}

.logInFormContainer{
  display: flexbox;
  flex-direction: column;  
}

.modal-wrapper {
  background: white;
  border: 1px solid #d0cccc;
  box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2), 0 7px 20px 0 rgba(0,0,0,0.17);
  margin: 10px auto 0;
  transition: all .8s;
  width: 60%;
}

.modal-header {
  background: #263238;
  height: 40px;
  line-height: 40px;
  padding: 5px 20px;
  text-align: right;
}

.modal-header h3 {
  color: white;
  float: left;
  margin: 0;
  padding: 0;
}

.modal-body {
  padding: 50px 15px;
  text-align: center;
  height:200px;
  width: 100%;
  background-color: #000;
  background-image: url(../images/splash.png);
  background-size:cover;
}
.modal-body-text{
  color:white;
  font-size: 200%
}


.modal-footer {
  background: #263238;
  height: 35px;
  padding: 15px;
}

.close-modal-btn {
  color: white;
  cursor: pointer;
  float: right;
  font-size: 30px;
  margin: 0;
}

.close-modal-btn:hover {
  color: black;
}

.modal-signup-nav-btn{
  height:30px;
  color: white;
  border-radius: 5px;
}

.btn-cancel, .btn-continue {
  background: coral;
  border: none;
  color: white;
  cursor: pointer;
  font-weight: bold;
  outline: none;
  padding: 10px;
}

.btn-cancel {
  background-color: #b71c1c;
  float: left;
}

.btn-continue {
  background-color: #1b5e20;
  float: right;
}

.back-drop {
  background-color: rgba(48, 49, 48, 0.42);
  height: 60%;
  position: fixed;
  transition: all 1.3s;
  width: 90%;
}

.open-modal-btn {
  margin: 15px;
  padding: 10px;
  font-weight: bold;
}

.my_events_wrapper{
  width: 100%
}

.create_event_wrapper{
  width: 100%
}

.eventview_wrapper{
  width: 100%
}